@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");

:root {
    /* ## Colors */

    /* ### Primary */

    --veryDarkBlue: hsl(243, 87%, 12%);
    --veryDarkBlueTransparent: hsla(243, 87%, 12%, 0.572);
    --veryDarkBlueBoxShadow: hsla(243, 87%, 12%, 0.092);
    --desaturatedBlue: hsl(238, 22%, 44%);
    --desaturatedBlueTransparent: hsla(240, 22%, 44%, 0.695);

    /* ### Accent */

    --brightBlue: hsl(224, 93%, 58%);
    --brightBlueTransparent: hsla(224, 93%, 66%, 0.904);
    --moderateCyan: hsl(170, 45%, 43%);
    --moderateCyanTransparent: hsla(170, 45%, 43%, 0.549);

    /* ### Neutral */

    --lightGrayishBlue: hsl(240, 75%, 98%);
    --lightGrayishBlueTransparent: hsla(240, 80%, 98%, 0.519);
    --lightGray: hsl(0, 0%, 75%);

    /* ## Typography */

    /* ### Headings, Call-to-actions, Header Navigation */
    --headingsFont: "Raleway", sans-serif;

    /* ### Body */

    --bodyFont: "Open Sans", sans-serif;
}

/* --FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

--SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
    box-shadow: 0 0 0 8px var(--brightBlueTransparent) !important;
}

html {
    font-size: 62.5%;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* ------------------------------------------------------------------------------------------------------------------
	General Styling
------------------------------------------------------------------------------------------------------------------ */

body {
    font-family: var(--bodyFont);
    font-weight: 400;
    line-height: 1;
    color: var(--veryDarkBlue);
}

.container {
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}

h1,
.feature-title,
.get-access-title {
    font-family: var(--headingsFont);
    font-weight: 700;
    text-align: center;
}

ul {
    list-style: none;
}

.get-started-btn:hover,
.get-started-btn:active {
    background-color: var(--brightBlueTransparent);
    cursor: pointer;
}

/* ------------------------------------------------------------------------------------------------------------------
	Header Section
------------------------------------------------------------------------------------------------------------------ */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.4rem;
}

.logo-img {
    height: 2.5rem;
}

.main-nav-list {
    display: flex;
    gap: 2.4rem;
}

.main-nav-link {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--veryDarkBlue);
    transition: all 0.4s;
}

.main-nav-link:hover,
.main-nav-link:active {
    color: var(--veryDarkBlueTransparent);
}

/* ------------------------------------------------------------------------------------------------------------------
	Hero Section
------------------------------------------------------------------------------------------------------------------ */

.hero {
    max-width: 140rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 4rem;
    padding: 8rem 3.2rem;
    margin: 0 auto;
}

h1 {
    margin-bottom: 2.4rem;
    font-size: 2.4rem;
    line-height: 1.2;
}

.hero-paragraph {
    font-size: 1.4rem;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 4.8rem;
}

.get-started-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
}

input[type="email"] {
    width: 90%;
    padding: 1.2rem 2.4rem;
    font-family: inherit;
    color: var(--lightGray);
    border: 1px solid var(--veryDarkBlue);
    border-radius: 0.5rem;
}

.btn {
    border: none;
    padding: 1.2rem;
    border-radius: 0.4rem;
    font-family: var(--headingsFont);
    font-weight: 700;
}

.get-started-btn {
    width: 90%;
    background-color: var(--brightBlue);
    color: var(--lightGrayishBlue);
    box-shadow: 0 2px 5px 2px var(--veryDarkBlueBoxShadow);
    transition: all 0.4s;
}

/* ------------------------------------------------------------------------------------------------------------------
	Feature and Testimonial Section
------------------------------------------------------------------------------------------------------------------ */
.background {
    width: 100%;
}

.feature-testimonial-section {
    padding-bottom: 8rem;
    background-color: #f8f8fe;
}

.feature-testimonial-section .container {
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.feature-container {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    /* margin-bottom: 4.8rem; */
}

.feature-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.feature-title {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.feature-paragraph {
    font-size: 1.4rem;
    line-height: 1.5;
    color: var(--desaturatedBlue);
}

.how-it-works-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--moderateCyan);
    /* padding: 0 0 0.25rem 0; */
    padding-bottom: 0.25rem;
    border-bottom: 1px solid currentColor;
    transition: all 0.5s;
}

.how-it-works-link:hover,
.how-it-works-link:active {
    color: var(--moderateCyanTransparent);
}

.how-it-works-link span {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.illustration-container {
    display: flex;
    justify-content: center;
    /* padding: 0 4.8rem; */
}

.testimonial-card {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    background-color: white;
    border-radius: 0.4rem;
    padding: 2.4rem;
    box-shadow: 0 2px 5px 0 var(--veryDarkBlueBoxShadow);
    margin: 1.6rem;
}

.quote-icon {
    width: 1.2rem;
}

.testimonial-paragraph {
    font-size: 1.2rem;
    line-height: 1.5;
}

.testimony-author-container {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.testimony-author-image {
    width: 2.4rem;
    border-radius: 50%;
}

.testimony-author-info {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.testimony-author-name {
    font-size: 1.2rem;
    font-family: var(--headingsFont);
    font-weight: 700;
}

.testimony-author-occupation {
    font-size: 0.8rem;
}

/* ------------------------------------------------------------------------------------------------------------------
	Get Early Access Section
------------------------------------------------------------------------------------------------------------------ */
.get-access-section {
    padding: 8rem 0;
    background-color: var(--desaturatedBlue);
    color: var(--lightGrayishBlue);
}

.get-access-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.get-access-title {
    font-size: 1.6rem;
    margin-bottom: 2.4rem;
}

.get-access-paragraph {
    font-size: 1.4rem;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 3.2rem;
}

/* ------------------------------------------------------------------------------------------------------------------
	Footer Section
------------------------------------------------------------------------------------------------------------------ */

.footer {
    padding: 8rem 0;
    background-color: var(--veryDarkBlue);
    /* color: var(--lightGrayishBlue); */
}

.footer .container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 4.8rem;
}

.contacts-text-box {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.footer-logo-img {
    width: 18rem;
}

address.contacts {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.phone-contact a,
.email-contact a,
.footer-link {
    text-decoration: none;
    color: var(--lightGrayishBlue);
    font-size: 1.4rem;
    font-style: normal;
    transition: all 0.4s;
}

.phone-contact a:hover,
.phone-contact a:active,
.email-contact a:hover,
.email-contact a:active,
.footer-link:hover,
.footer-link:active {
    color: var(--lightGrayishBlueTransparent);
}

.phone-contact,
.email-contact {
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.social-links {
    display: flex;
    gap: 1.6rem;
    justify-content: center;
    color: var(--lightGrayishBlue);
    font-size: 2.4rem;
    text-align: center;
}

.social-links a {
    color: var(--lightGrayishBlue);

    transition: all 0.5s;
}

.social-links a:hover,
span.social-links:active {
    color: var(--lightGrayishBlueTransparent);
}

/* ----------------------------------------------- */
/* For screens ABOVE 576px (Phones)*/
/* --------------------------------------------- */

/* 560px /16px = 35.9 = 36 */
/* 16 * 36 = 576px */

@media (min-width: 36rem) {
    html {
        font-size: 11px;
    }

    .container {
        padding: 0 4.8rem;
    }

    .header {
        padding: 3.2rem;
    }

    .logo-img {
        height: 3.2rem;
    }

    .main-nav-link {
        font-size: 1.4rem;
    }

    .hero {
        padding: 8rem 4.8rem;
    }

    .get-started-form {
        flex-direction: row;
        justify-content: center;
    }

    input[type="email"] {
        width: 60%;
    }

    .get-started-btn {
        width: 35%;
    }

    .feature-container {
        align-items: center;
    }

    .feature-paragraph {
        /* width: 90%; */
    }

    .testimonial-card {
        width: 80%;
        margin: 0;
    }

    .quote-icon {
        width: 1.6rem;
    }

    .testimonial-paragraph {
        font-size: 1.2rem;
    }

    .testimony-author-image {
        width: 3.2rem;
    }

    .testimony-author-info {
        gap: 0.4rem;
    }

    .testimony-author-name {
        font-size: 1.4rem;
    }

    .testimony-author-occupation {
        font-size: 1rem;
    }
}

/* ----------------------------------------------- */
/* For screens ABOVE 768px (Smaller tablets)*/
/* --------------------------------------------- */

/* 775px /16px = 48.43 = 48  */
/* 16 * 48 = 768px */

@media (min-width: 48rem) {
    .container {
        padding: 0 6.4rem;
    }

    .header {
        padding: 4.8rem;
    }

    .main-nav-list {
        gap: 3.2rem;
    }

    .hero {
        padding: 8rem 6.4rem;
    }

    .hero-img-box,
    .feature-img-box {
        width: 80%;
    }

    .feature-paragraph,
    .get-access-paragraph {
        width: 85%;
    }

    .social-links {
        font-size: 3rem;
    }
}

/* --------------------------------------------------- */
/* For Screens ABOVE 976px (Tablets) */
/* --------------------------------------------------- */

/* 975 / 16 = 60.9 = 61 */
/* 16 * 61 = 976px */

@media (min-width: 61rem) {
    .header {
        padding: 4.8rem 9.6rem;
    }

    .logo-img {
        height: 4.8rem;
    }

    .hero {
        flex-direction: row;
        justify-content: space-between;
    }

    .hero-img-box {
        width: 50%;
    }
    .hero-text-box {
        width: 50%;
    }

    h1 {
        font-size: 3.6rem;
        text-align: left;
    }

    .hero-paragraph,
    .feature-paragraph,
    .get-access-paragraph {
        text-align: left;
    }

    .get-started-form {
        justify-content: flex-start;
    }

    input[type="email"] {
        width: 65%;
    }

    .get-started-btn {
        width: 30%;
    }

    .feature-testimonial-section .container {
        flex-direction: row-reverse;
        gap: 3.2rem;
        justify-content: space-between;
        align-items: center;
    }

    .feature-container {
        width: 50%;
        align-items: flex-start;
    }

    .feature-text-box {
        align-items: flex-start;
    }

    .feature-title {
        font-size: 3rem;
        text-align: left;
        line-height: 1.2;
    }

    .illustration-container {
        width: 50%;
    }

    .feature-img-box {
        width: 100%;
    }

    .get-access-section .container {
        display: flex;
        justify-content: space-between;
    }

    .get-access-text-box,
    .get-access-section .container .get-started-form {
        width: 50%;
    }

    .get-access-title {
        font-size: 3rem;
    }

    .get-access-text-box {
        align-items: flex-start;
    }

    .get-access-section .container .get-started-form {
        flex-direction: column;
    }

    .get-access-section .container .get-started-form input {
        width: 90%;
        align-self: flex-start;
    }

    .get-access-section .container .get-started-form .get-started-btn {
        width: 40%;
        align-self: flex-start;
    }

    .footer .container {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr 1fr;
        align-items: center;
    }

    .footer-nav-col,
    .social-links {
        align-self: start;
        grid-row: 2;
    }

    .contacts-text-box {
        align-self: center;
        grid-column: 1/3;
        grid-row: 1/-1;
    }
}

/* --FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

--SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
